container_commands:
  01_syncdb:    
    command: "python manage.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: CloudClassReg/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: CloudClassReg.settings
  - option_name: AWS_SECRET_KEY
    value: qATenBqpPowl8ydDxawS7jlHHlXn3b+AKRZiDkTU
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJRJEMSPZ665IPK7Q