{% extends "base.html" %}

{% block content %}

<h1>Browse Available Classes: </h1>

<aside>
{% if majors_list %}
<form action="{% url 'reg:catalog' %}" method="post">
{% csrf_token %}
    <select name="chosenMajor">
    {% for major in majors_list %}
    	<option value = "{{major.id}}">{{ major.major }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Search" />
</form>
{% else %}
No majors are available
{% endif %}
</aside>

{% if firstload %}
    <p>Please pick a major to browse. </p>
{% endif %}


{% if courses_list %}
    <article>
    {% for course in courses_list %}
        <section> <p>
    	{{course.code}}: {{course.name}} <br />
        Professor: {{course.professor}} <br />
        Description: {{course.description}} <br />
        Sessions: 
            {% if course.monday != "0000-0000" %}
                Monday: {{course.monday}}, 
            {% endif %}
            {% if course.tuesday != "0000-0000" %}
                Tuesday: {{course.tuesday}}, 
            {% endif %}
            {% if course.wednesday != "0000-0000" %}
                Wednesday: {{course.wednesday}}, 
            {% endif %}
            {% if course.thursday != "0000-0000" %}
                Thursday: {{course.thursday}}, 
            {% endif %}
            {% if course.friday != "0000-0000" %}
                Friday: {{course.friday}}, 
            {% endif %}
        <br />
        Enrollment: {{course.transcript_set.count}}/{{course.capacity}} <br />
    	{% if course.hasSpace %}
    		<a href="/reg/cart/?chosenCourse={{ course.id }}">Add Class </a><br />
        {% else %}
            <a href="#" class="disabled">Add Class (Class Closed!)</a><br />
    	{% endif %}
        </p></section>
    {% endfor %}
    </article>
{% else %}
	{% if not firstload %}
    <p>No courses are available</p>
    {% endif %}
{% endif %}

{% endblock %}